
<mat-toolbar>
  <span style="padding-top: 20px; padding-left: 20px;" >
      <!-- replace with parkview icon -->
      <h1 id="logo"><img src="../../assets/images/parkview-health-logo-w.png" alt="Parkview Health logo" style="width:120px;height:49px;"/></h1>
  </span>
  <span></span>
  <ul>
    <li style="padding-top: 20px; padding-left: 80px;">
      <a [routerLink]="['/population']">Population</a>
    </li>
    <li style="padding-top: 20px; padding-left: 50px;">
      <a>Routing</a>
    </li>
    <li style="padding-top: 20px; padding-left: 600px;">
      <a>Signup</a>
    </li>
    <li style="padding-top: 20px; padding-left: 80px;">
      <button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
