<mat-toolbar>
  <span>
      <!-- replace with parkview icon -->
    <h1 id="logo"><img src="../../assets/images/parkview-health-logo-w.png" alt="Parkview Health logo" style="width:120px;height:49px;"/></h1>
  </span>
  <span></span>
  <ul>
    <li style="padding-left: 25px">
      <a>Population</a>
    </li>
    <li style="padding-left: 25px">
      <a>Routing</a>
    </li>
    <li style="padding-left: 25px">
      <a>Signup</a>
    </li>
    <li style="padding-left: 80px">
      <button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
