<body>
    <!-- Body 2 Div, for White wrap around objects -->
    <div class="body2">
    <mat-card>
        <!-- This will hold the box that contains the checkboxes and options to manipulate the map-->
          <mat-grid-list class="Optionslist" cols="8">
           <mat-grid-tile class="options-tile" id="options-time" colspan="3"[style.border-right]="'1px dashed #ddd'" >
              <mat-grid-tile-header> <span class="material-icons">date_range</span> &nbsp; Date
                <button mat-flat-button class="reset-button-row">Reset Date</button>
              </mat-grid-tile-header>
            </mat-grid-tile>
          <mat-grid-tile class="options-tile" id="options-time" colspan="4" [style.border-right]="'1px dashed #ddd'"> 
              <!-- Time Options-->
              <!-- Time card -->
              <mat-grid-tile-header> 
                <span class="material-icons">schedule</span>&nbsp; Time 
                <button mat-flat-button class="reset-button-row">Reset Time</button>
              </mat-grid-tile-header>
              
              <div class="time-chip">
                <!-- Time picker scroll-->
                
                  <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">  
                    <div class="custom-slider">
                        <div>

                          </div>
                        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue"  [options]="options" style="margin-bottom: 2rem; font-size: 11px;"></ng5-slider>
                        <div>
                            <button mat-mini-fab class="round-button">Add</button>
                         </div> 
                      </div>

                  </cdk-virtual-scroll-viewport>
            </div>
            </mat-grid-tile>
            <mat-grid-tile class="options-tile" id="options-export" colspan="1"> 
              <!-- Export Options-->
              <mat-grid-tile-header> <span class="material-icons">get_app</span> &nbsp;Export </mat-grid-tile-header>
              <span class="material-icons" style="margin: 0px auto; padding-top: 48px; font-size: 70px;">vertical_align_bottom</span>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
   
      <!-- This will contain the Facts Boxes on the left side of the screen -->
      <!-- and the map on the right side of the screen -->
      <mat-grid-list class="Lowerbodylist" cols="8" rows="6">
          <mat-grid-tile class="chart" colspan="4" rowspan="3">
              <app-core-body-routing-chart></app-core-body-routing-chart>
          </mat-grid-tile>
        <mat-grid-tile class="map" colspan="4" rowspan="3">
          <img src="../assets/images/640x420 route map.png" alt="Test Image">
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </body>