<body>
    <!-- Body 2 Div, for White wrap around objects -->
    <div class="body2">
    <mat-card>
        <!-- This will hold the box that contains the checkboxes and options to manipulate the map-->
          <mat-grid-list class="Optionslist" cols="7">
           <mat-grid-tile class="options-tile" id="options-time" colspan="3"[style.border-right]="'1px dashed #ddd'" >
              <mat-grid-tile-header> <span class="material-icons">date_range</span>&nbsp; Date 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-flat-button class="example-button-row" style="width: 150px;">Reset Date Selections</button>
              </mat-grid-tile-header>
           
            </mat-grid-tile>
          <mat-grid-tile class="options-tile" id="options-time" colspan="3" [style.border-right]="'1px dashed #ddd'"> 
              <!-- Time Options-->
              <!-- Time card -->
              <mat-grid-tile-header>  
                <span class="material-icons">schedule</span>&nbsp; Time 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-flat-button class="example-button-row" style="width: 150px; display: left">Reset Time Selections</button>
              </mat-grid-tile-header>
              <div class="timeoption">
                <span class="material-icons">wb_sunny</span>
                <br><br><br>
                <span class="material-icons">brightness_3</span>
              </div>
              <div class="time-chip">
                <!-- Time chip-->
                  <cdk-virtual-scroll-viewport itemSize="24" class="example-viewport">  
                        <mat-chip-list>
                          <mat-chip [color]="'success'" >8 AM</mat-chip>
                          <mat-chip [color]="'success'" >9 AM</mat-chip>
                          <mat-chip [color]="'success'" >10 AM</mat-chip>
                          <mat-chip [color]="'success'" >11 AM</mat-chip>
                          <mat-chip [color]="'success'" >12 PM</mat-chip>
                          <mat-chip [color]="'success'" >1 PM</mat-chip>
                          <mat-chip [color]="'success'" >2 PM</mat-chip>
                          <mat-chip [color]="'success'" >3 PM</mat-chip> 
                          <mat-chip [color]="'success'" >4 PM</mat-chip>
                          <mat-chip [color]="'success'" >5 PM</mat-chip>
                          <mat-chip [color]="'success'" >6 PM</mat-chip>
                          <mat-chip [color]="'success'" >7 PM</mat-chip>
                        </mat-chip-list>
                        <mat-chip-list>
                            <mat-chip [color]="'success'" selected>8 PM</mat-chip>
                            <mat-chip [color]="'success'" selected>9 PM</mat-chip>
                            <mat-chip [color]="'success'" selected>10 PM</mat-chip>
                            <mat-chip [color]="'success'" selected>11 PM</mat-chip>
                            <mat-chip [color]="'success'" selected>0 AM</mat-chip>
                            <mat-chip [color]="'success'" selected>1 AM</mat-chip>
                            <mat-chip [color]="'success'" selected>2 AM</mat-chip>
                            <mat-chip [color]="'success'" selected>3 AM</mat-chip> 
                            <mat-chip [color]="'success'" selected>4 AM</mat-chip>
                            <mat-chip [color]="'success'" selected>5 AM</mat-chip>
                            <mat-chip [color]="'success'" selected>6 AM</mat-chip>
                            <mat-chip [color]="'success'" selected>7 AM</mat-chip>
                        </mat-chip-list>
                    </cdk-virtual-scroll-viewport>
            </div>
            </mat-grid-tile>
            <mat-grid-tile class="options-tile" id="options-export" colspan="1"> 
              <!-- Export Options-->
              <mat-grid-tile-header> <span class="material-icons">get_app</span> &nbsp;Export </mat-grid-tile-header>
              <span class="material-icons" style="margin: 0px auto; padding-top: 48px; font-size: 70px;">vertical_align_bottom</span>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
   
      <!-- This will contain the Facts Boxes on the left side of the screen -->
      <!-- and the map on the right side of the screen -->
      <mat-grid-list class="Lowerbodylist" cols="8" rows="6">
          <mat-grid-tile class="chart" colspan="4" rowspan="3">
              <app-core-body-routing-chart></app-core-body-routing-chart>
          </mat-grid-tile>
        <mat-grid-tile class="map" colspan="4" rowspan="3">
          <img src="../assets/images/640x420 route map.png" alt="Test Image">
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </body>