/* Body Styling START */
body {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  div.body2 {
      background-color: white;
      margin: 1% 2% 3% 2%;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
      padding-right: 1%;
    }

  .routeChart {
    margin-bottom: 1%;
  }

  .routeMap {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Body Styling END */

  p {
    font-size: 30px;
    line-height: .1;
  }

  span {
    font-size: 60px;
    margin-left: 50px;
  }

  /* chart box START */
    .chartbox {
        box-sizing: border-box;
    }

    div.chart-title {
        margin-left: 3.0%
    }

  /* Basic */
  @-ms-viewport {
      width: device-width;
  }

  body {
      -ms-overflow-style: scrollbar;
      margin: 0 auto !important;
  }

  /* @media screen and (max-width: 480px) {
      html, body {
          min-width: 320px;
      }
  } */

  html {
      box-sizing: border-box;
  }

  *, *:before, *:after {
      box-sizing: inherit;
  }

  body {
      background-color: #000000;
      background-image: url("../../../../assets/images/overlay.png"), -moz-linear-gradient(180deg, #152816 25%, #196530 75%);
      background-image: url("../../../../assets/images/overlay.png"), -webkit-linear-gradient(180deg, #152816 25%, #196530 75%);
      background-image: url("../../../../assets/images/overlay.png"), -ms-linear-gradient(180deg, #152816 25%, #196530 75%);
      background-image: url("../../../../assets/images/overlay.png"), linear-gradient(180deg, #152816 25%, #196530 75%);
  }

      body.is-preload *, body.is-preload *:before, body.is-preload *:after {
          -moz-animation: none !important;
          -webkit-animation: none !important;
          -ms-animation: none !important;
          animation: none !important;
          -moz-transition: none !important;
          -webkit-transition: none !important;
          -ms-transition: none !important;
          transition: none !important;
      }

  /* Type */

  body {
      background-color: #935d8c;
      color: rgba(255, 255, 255, 0.65);
  }

  body, input, select, textarea {
      font-family: "Source Sans Pro", Helvetica, sans-serif;
      font-size: 17pt;
      font-weight: 300;
      line-height: 1.65;
  }

      @media screen and (max-width: 1680px) {

          body, input, select, textarea {
              font-size: 14pt;
          }

      }

      @media screen and (max-width: 1280px) {

          body, input, select, textarea {
              font-size: 12pt;
          }

      }

      @media screen and (max-width: 360px) {

          body, input, select, textarea {
              font-size: 11pt;
          }

      }

  a {
      -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
      -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
      -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
      transition: color 0.2s ease, border-bottom 0.2s ease;
      text-decoration: none;
      border-bottom: dotted 1px;
      color: inherit;
  }

      a:hover {
          border-bottom-color: transparent;
      }

  strong, b {
      font-weight: 400;
  }

  em, i {
      font-style: italic;
  }

  p {
      margin: 0 0 2em 0;
  }

  /* Card Section */

    .example-section {
      display: flex;
      align-content: center;
      align-items: center;
      height: 65px;
    }

    .example-margin {
      margin: 0 10px;
    }

  /* scroll */
  .example-viewport {
      height: 360px;
      width: 450px;
      border: 0px solid black;
      margin-top: 8rem;
    }

  img {
    max-width: 100%;
    height: auto;
  }
