<app-core-header></app-core-header>
<body>
  <!-- Body 2 Div, for White wrap around objects -->
  <div class="body2">
    <app-core-body-controller (outputToParent)="GetOutput($event)"></app-core-body-controller>

    <div class="routeChart">
      <app-core-body-routing-chart [routeList] = 'routes' (outputToParent)="GetOutputCanvas($event)"></app-core-body-routing-chart>
    </div>
    <div class="routeMap">
      <canvas #canvasEl width=1024 height=672 style="background: url('../../../../assets/images/x160.jpg')"></canvas>
    </div>

  </div>
</body>
