<body>
    <img
    class="parkIcon"
    src="../../assets/images/parkview-icon.png"
    alt="Parkview Health logo"
  />
  <div class="block">
      <h2 style="text-align:center;"> Oof! Page Not Found 404 </h2>
      <h3> Looks like you are lost. </h3>
      <p> We will get it fixed as soon as possible.</p>
      <p> You can go back. Please visit the button below.. </p>
      <div style="text-align:center; margin:2vw auto; ">
        <button mat-raised-button color="accent" style="text-align:center" [routerLink]="['/login']">BACK TO HOME</button>
      &nbsp;
      </div>
  </div>
</body>