<app-core-header></app-core-header>
     <div class="sidenav">
        <span class="material-icons" style=" margin-left: 2.35vw; font-size: 2vw; color: white;">settings</span>
        <a class="material-icons" style=" margin-left: 1vw; font-size: 4vw; line-height: 0px;">account_circle</a>
        <br>
        <a href="#about">Account<br>Settings</a>

      </div>
      
      <div class="main">
        <h1>Enter your detail below.</h1>
        <form [formGroup]="form" class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Email Address</mat-label>
                  <input matInput disabled value="parkview@health.pfw">
                  <mat-hint align="start"><strong>Cannot be changed</strong> </mat-hint>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Valid Employee ID</mat-label>
                  <input matInput disabled value="777123129">
                  <mat-hint align="start"><strong>Cannot be changed</strong></mat-hint>
                </mat-form-field>
                <table class="example-full-width" cellspacing="0"><tr>
                  <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" id="name1Input" formControlName="firstname" class="form-control"  [formGroup]="form" [formControl]="firstnameFormControl">
                  </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" id="name2Input" formControlName="lastname" class="form-control"  [formGroup]="form" [formControl]="lastnameFormControl">
                     </mat-form-field>
                  </td>
                </tr></table>
              
                <p>
                 <mat-form-field class="example-full-width">
                    <mat-label>New Password</mat-label>
                    <input matInput #message maxlength="30" [type]="hide ? 'password' : 'text'" id="password" formControlName="password" class="form-control"  [formGroup]="form" [formControl]="passwordFormControl">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                 </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>Confirm New Password</mat-label>
                      <input matInput #message maxlength="30" [type]="hide ? 'password' : 'text'" id="confirmPassword" formControlName="confirmPassword" class="form-control"  [formGroup]="form" [formControl]="pwconfirmFormControl">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
                </p>
                <!-- Validation Error -->
                <div class="validation">
                    <mat-error
                      *ngIf=" passMatch()"
                    >
                      Please enter the matched password
                    </mat-error>
                      <mat-error
                      *ngIf="passwordFormControl.hasError('required') && !pwconfirmFormControl.hasError('required') && (!firstnameFormControl.hasError('required') || !lastnameFormControl.hasError('required'))"
                    >
                      Password is <strong>required</strong>
                    </mat-error>
                    <mat-error
                    *ngIf="pwconfirmFormControl.hasError('required') && !passwordFormControl.hasError('required') && (!firstnameFormControl.hasError('required') || !lastnameFormControl.hasError('required')) "
                  >
                    Confirm Password is <strong>required</strong>
                  </mat-error>
                  <mat-error
                  *ngIf="(firstnameFormControl.hasError('required') || lastnameFormControl.hasError('required')) && !passwordFormControl.hasError('required') && !pwconfirmFormControl.hasError('required') "
                >
                  Name is <strong>required</strong>
                </mat-error>
                </div>
              </form>
            <div class="saveButton">
                <button mat-raised-button color="basic" (click)="saveValue()"   
                [routerLink]="['/population']"
                [disabled]="disabledButton()"
                id="saveButton"
             >SAVE</button>
            </div>
      </div>