<body>
  <!-- Body 2 Div, for White wrap around objects -->
  <div class="body2">
    <app-core-body-controller></app-core-body-controller>
    <!-- This will contain the Facts Boxes on the left side of the screen -->
    <!-- and the map on the right side of the screen -->
    <mat-grid-list class="Lowerbodylist" cols="3" rows="3" rowHeight="125px" gutterSize="20px">
      <mat-grid-tile class="fact1" colspan="1" rowspan="1">
        <mat-card class="box1">
            <div style="display: inline-block">
                <h2>Most Popular Location</h2>
                <p>Ronald McDonald House</p>
            </div>
            <div style="display: inline-block">
                <span class="material-icons" style="font-size: 5vw;  margin-left: 0vw;">add_location</span>
            </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="map1" colspan="2" rowspan="3">
        <!-- showing heat color on the map -->
        <app-core-body-population-heatmap [heats] = 'heats'></app-core-body-population-heatmap>
      </mat-grid-tile>

      <mat-grid-tile class="fact2" colspan="1" rowspan="1">
          <mat-card class="box2">
            <div style="display: inline-block">
              <h2>Most Popular Beacon</h2>
              <p>Beacon #9185719</p>
            </div>
            <div style="display: inline-block">
              <span class="material-icons">gps_fixed</span>
            </div>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="fact3" colspan="1" rowspan="1">
          <mat-card class="box3">
            <div style="display: inline-block">
              <h2>Least Popular Beacon</h2>
              <p>Beacon #9245927</p>
            </div>
            <div style="display: inline-block">
              <span class="material-icons">gps_not_fixed</span>
            </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</body>
