<body>
  <!-- Body 2 Div, for White wrap around objects -->
  <div class="body2">
    <!-- This will hold the box that contains the checkboxes and options to manipulate the map-->
    <mat-grid-list class="Optionslist" cols="7">
      <mat-grid-tile class="options-tile" id="options-time" colspan="3"> <!-- Time Options-->
        <mat-grid-tile-header> Time </mat-grid-tile-header>

      </mat-grid-tile>
      <mat-grid-tile class="options-tile" id="options-date" colspan="3"> <!-- Date Options-->
        <mat-grid-tile-header> Date </mat-grid-tile-header>

      </mat-grid-tile>
      <mat-grid-tile class="options-tile" id="options-export" colspan="1"> <!-- Export Options-->
        <mat-grid-tile-header> Export </mat-grid-tile-header>

      </mat-grid-tile>
    </mat-grid-list>
    <!-- This will contain the Facts Boxes on the left side of the screen -->
    <!-- and the map on the right side of the screen -->
    <mat-grid-list class="Lowerbodylist" cols="3" rows="3">
      <mat-grid-tile class="fact1" colspan="1" rowspan="1">
          <mat-grid-tile-header> FACT 1 </mat-grid-tile-header>

      </mat-grid-tile>
      <mat-grid-tile class= "map1" colspan="2" rowspan="3">
          <mat-grid-tile-header> MAP </mat-grid-tile-header>

        </mat-grid-tile>
      <mat-grid-tile class="fact2" colspan="1" rowspan="1">
        <mat-grid-tile-header> FACT 2 </mat-grid-tile-header>

      </mat-grid-tile>
      <mat-grid-tile class="fact3" colspan="1" rowspan="1">
        <mat-grid-tile-header> FACT 3 </mat-grid-tile-header>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</body>