
<mat-toolbar>
  <span style="padding-top: 20px; padding-left: 20px;" >
      <!-- replace with parkview icon -->
      <h1 id="logo"><img src="../../assets/images/parkview-health-logo-w.png" alt="Parkview Health logo" style="width:120px;height:49px;"/></h1>
  </span>
  <span></span>
  <ul>
    <li style="padding-top: 15px; padding-left: 360px;">
      <mat-chip-list>
      <mat-chip [routerLink]="['/population']" style="background-color: #1de9b6;" selected>&nbsp;Population&nbsp;</mat-chip>
    </mat-chip-list>
    </li>
    <li style="padding-top: 15px; padding-left: 50px;">
      <mat-chip-list>
        <mat-chip [routerLink]="['/routing']" style="background-color: #69f0ae;" selected>&nbsp;&nbsp; Routing &nbsp;&nbsp;</mat-chip>
      </mat-chip-list>
    </li>


    <li style="padding-top: 15px; padding-left: 300px;">
      <i class="material-icons">portrait</i>
    </li>
    <li style="padding-top: 15px; padding-left: 10px; line-height:0.3em;">
      <a style="font-size: 10pt; text-align: left;"><em>Darrell </em> Keeling</a><br>
      <a style="font-size: 8pt; text-align: right; ">Information Technology</a>
    </li>
    <li style="padding-top: 15px; padding-left: 10px;">
      <button mat-icon-button [matMenuTriggerFor]="menu" (mouseenter)="someMethod()">
        <i class="material-icons">expand_more</i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <i class="material-icons" [routerLink]="['/']">power_settings_new</i>
          <span [routerLink]="['/']"> Sign Out</span>
        </button>
        <button mat-menu-item> <!--disabled : if you don't want to use it-->
          <i class="material-icons" [routerLink]="['/settings']">settings</i>
          <span [routerLink]="['/settings']"> Account Setting</span>
        </button>
      </mat-menu>
    </li>

  </ul>
</mat-toolbar>
