<mat-toolbar>
  <span style="padding-top: 1%; padding-left: 3%;" >
      <!-- replace with parkview icon -->
      <h1 id="logo"><img src="../../assets/images/parkview-health-logo-w.png" alt="Parkview Health logo" style="width:120px;height:49px;"/></h1>
    </span>
  <span></span>
  <ul>
    <li style="padding-top: 3%; margin-left: 0%;">
      <mat-chip-list>
      <mat-chip [routerLink]="['/population']" >&nbsp;&nbsp;&nbsp;Population&nbsp;&nbsp;</mat-chip>
    </mat-chip-list>
    </li>
    <li style="padding-top: 3%; margin-left: 13%;">
      <mat-chip-list>
        <mat-chip [routerLink]="['/routing']" >&nbsp;&nbsp;&nbsp; Routing &nbsp;&nbsp;&nbsp;</mat-chip>
      </mat-chip-list>
    </li>

    <li style="margin-left: 65%;">
      <i class="material-icons">portrait</i>
    </li>
    <li style="padding-left: 10px; line-height:0.3em;">
      <a style="font-size: 10pt; text-align: left;"><em>Darrell </em> Keeling</a><br>  <!--User's name : should update from DB -->
      <a style="font-size: 8pt; text-align: right; ">Information Technology</a> <!--Department : should update from DB -->
    </li>
    <li style="padding-left: 10px;">
      <button mat-icon-button [matMenuTriggerFor]="menu" (mouseenter)="someMethod()">
        <i class="material-icons">expand_more</i>
      </button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item>
          <!--disabled : if you don't want to use it-->
          <i class="material-icons" [routerLink]="['/settings']">settings</i>
          <span [routerLink]="['/settings']"> Account Setting</span>
        </button>
        <button mat-menu-item>
          <i class="material-icons" [routerLink]="['/login']">power_settings_new</i>
          <span [routerLink]="['/login']"> Sign Out</span>
        </button>
      </mat-menu>
    </li>
  </ul>
</mat-toolbar>
