<body class="body">
  <span id="logo">
    <!-- replace with parkview icon -->
    <h1>
      <img
        id="logo-image"
        src="../../assets/images/parkview-health-logo-w.png"
        alt="Parkview Health logo"
      />
      <a [routerLink]="['/register']" id="create-account"> Create account! </a>
    </h1>
  </span>

  <div class="center-container">
    <div class="only-parkview">
      <label>PARKVIEW STAFF ONLY </label>
    </div>
    <div class="email">
      <mat-form-field appearance="outline" class="login-email">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email address"
          [formControl]="emailFormControl"
          id="emailInput"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <!-- password -->
    <div class="password">
      <mat-form-field appearance="outline" class="login-password">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControl]="passwordFormControl"
          id="passwordInput"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
    </div>
    <!-- email and password validation -->
    <div class="validation">
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="
          emailFormControl.hasError('required') &&
          !passwordFormControl.hasError('required')
        "
      >
        Email is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="
          passwordFormControl.hasError('required') &&
          !emailFormControl.hasError('required')
        "
      >
        Password is <strong>required</strong>
      </mat-error>
    </div>
    <div class="login-button">
      <button
        mat-raised-button
        color="basic"
        class="login"
        (click)="saveValue()"
        [disabled]="loading"
      >

        L&nbsp;O&nbsp;G&nbsp;I&nbsp;N
      </button>
    </div>
    <div class="forgotten-password">
      <mat-checkbox color="green"> Remember me!</mat-checkbox><br />
      <a [routerLink]="['/forgotpass']">Forgot password ? </a>
    </div>
  </div>
</body>
